@model IEnumerable<FuelType>
@{
    ViewData["Title"] = "Index";
}



<div class="container p-2">
    <div class="row pt-4">
        <div class="col-md-6">
            <h2 class="text-primary">Fuel Type</h2>
        </div>
        <div class="col-md-6 text-end">
            <a asp-controller="FuelType" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &ensp; Create New Fuel Type
            </a>
        </div>
    </div>
</div>
<br />

<table class="table tabel-bordered table-striped" style="width: 100%"> 
    <thead>
        <tr>
            <th>
                Fuel Type
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        <partial name="_Sidebar" />
        @foreach(var obj in Model)
        {
            <tr>
                <td width="70%">
                    @obj.Fuel_Type
                </td>
                
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="FuelType" asp-action="Edit" asp-route-id="@obj.Id"
                        class="btn btn-primary mx-2">
                            <i class="bi bi-pencil-square"></i> Edit</a>
                        <a asp-controller="FuelType" asp-action="Delete" asp-route-id="@obj.Id"
                           class="btn btn-danger mx-2">
                            <i class="bi bi-trash"></i> Delete
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-area="Admin" asp-controller="Dashboard" asp-action="Settings"
   class="btn btn-light" style="width: 99%">
    Back to Settings
</a>
